[Desktop Entry]
Type=Application
Name=bspwm on GNOME
Exec=bspwm-gnome-session
TryExec=bspwm-gnome
DesktopNames=GNOME
X-Ubuntu-Gettext-Domain=gnome-session-3.0
